.pr-teaser-container .pr-teaser-wrapper {
  max-width: unset;
  padding: 0;
}

.pr-teaser {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.pr-teaser h1,
.pr-teaser h2,
.pr-teaser h3,
.pr-teaser h4,
.pr-teaser h5,
.pr-teaser h6,
.pr-teaser p {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.pr-teaser.no-image * {
  color: var(--text-color);
}

.pr-teaser picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.pr-teaser img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .pr-teaser {
    padding: 40px 32px;
  }
}
